#h1index {color: aquamarine;}
body {background-image: url(wallpaper2.jpg)}
body {font-family:"Roboto Serif", "6system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"}
body {font-weight: 400;}
a {font-size: 16px;}
a {font-size: 1.5rem;}