#h1index {color: aquamarine;}
body {background-image: url(wallpaper2.jpg)}
body {font-family:"Roboto Serif", "6system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"}
body {
  font-weight: 200px;
  margin: 0;
}
a {font-size: 9px;}
a {font-size: 1.0rem;}
footer {
  border-style: solid;
  backdrop-filter:blur(10px);
  border-color:aliceblue;
  position:fixed;
  bottom: 0px;
  border-radius: 10px;
}
#header {
  position: sticky;
  top: 0;
  z-index:999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#divfotfooter1 {
  border-style: solid;
  border: 10px;
  border-color: blue;
}
#header img {
  width: 100px;
  height: auto;
}
#headername {
  margin-left: -50px;
  color: white;
}
#headerimg {
  margin-left: -50px;
}